/*Global Variables*/
html{
  color: white;
}
span{
  display: block;
  text-align: center;
  padding: 0.5em;
}

/*Flex Container*/
.fc{
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
}
h1{
  font-size: 30px;
  font-weight: bold;
}
/*Header CSS*/
header{
  display: flex;
  height: 100px;
  overflow: auto;
  z-index: 10;
  background-color: black;
}
header img{
  height: 50px;
  width: auto;
  padding: 1rem;
}
header h2{
  display: inline-flex;
  padding: auto;
}

/*Banner*/
.banner{
  height: 500px;
  display: flex;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#headline{
  width: 400px;
  height: 200px;
  background-color: black;
  margin: auto 0;
}
#headline h1, h3{
  display: block;
  margin: 1.5em;
  text-align: center;
}

/*NAV*/
nav{
  background-color: red;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav li{
      display: list-item;
      padding: 10px;
}

/*Main Content with Product List*/
main .fc{
  display: flex;
  justify-content: space-between;
  margin: 3em auto 0 auto;
}
.product{
  width: 30%;
}
.productimg{
  border: 4px solid black;
  padding: 2em 0;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productimg img{
  max-width: 10em;
}
 .producttext{
   display: block;
   background-color: black;
   text-align: center;
   padding: 0.5em;
}
/*Location and Hours styling*/
.lochours{
  padding: 5em 1em 1em 1em;
  width: 40%;
}
.box{
  background-color: black;
  text-align: left;
  padding: 1em;
}
.blacktext{
  color: black;
  text-align: left;
  padding: 1em;
}

/*Footer*/
footer {
  padding: 5em;
  background-color: black;
  width: 100%
  text-align: center;
}
